@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
@import "reset.css";
@import "variables.css";

/*Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

/*Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";

body {
  color: #2f363e;
  font-family: "Noto Sans KR", sans-serif;
  padding-bottom: 50px;
}

.main-screen {
  padding: 10px var(--horizontal-space);
}

.alarm {
  background-color: #ff6229;
  height: 5px;
  width: 5px;
  position: absolute;
  border-radius: 2.5px;
}
