.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 var(--horizontal-space);
  padding-top: 10px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.screen-header__icons span {
  margin-left: 25px;
}
